:root {
    --color-primary-light: #FFFFFF;
    --color-primary-dark: #555555;

    --color-brand-light: #FFF4D8;
    --color-brand-dark: #3D210C;

    --color-accent-light: #F39C11;
    --color-accent-dark: #0D1015;
}

$bp-mobile: 390px;
$bp-tablet: 1194px;
$bp-desktop: 1512px;