.section {
    padding: 24px 0 44px;

    @media screen and (min-width: $bp-tablet) {
        padding: 56px 0;
    }

    &__title {
        font-family: 'Lobster', sans-serif;
        font-size: 30px;
        color: var(--color-accent-dark);
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            font-size: 50px;
        }

    }
}