.features-section {
    background-color: var(--color-brand-dark);
    color: var(--color-brand-light);
    padding-bottom: 0;
    
    @media screen and (min-width: $bp-tablet) {
        padding-bottom: 16px;
    }

    &__title {
        color: var(--color-brand-light);
    }

    &__list {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            gap: 20px;
            justify-content: space-between;
        }
    }

    &__list-item {
        @media screen and (min-width: $bp-tablet) {
            width: calc((100% - 3 * 50px) / 4);
        }

        @media screen and (min-width: $bp-desktop) {
            width: calc((100% - 3 * 70px) / 4);
        }
    }
}